.alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.btn-success{margin-top: 15px;}

.alert{background-color: aliceblue;}

.modal-descripcion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: aliceblue;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    margin: 0 auto;
    opacity: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-color: #fe6601;
    margin-top: 500px;
}

.modal-content button {
    background-color: #fe6601;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
}

.modal-content button:hover {
    background-color: #314814;
}

.modal-descripcion.mostrar {
    display: flex;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4ab34;
    color: #314814;
}

header {
    background-color: #314814;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    padding: 0;
    display: none;
}

header img {
    width: 150px;
}

.producto img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto button {
    background-color: #fe6601;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px
}

.producto button:hover {
    background-color: #f4ab34;
}

main {
    padding: 20px;
}

.filtros {
    display: flex;
    justify-content: space-around;
}

.filtro-categoria, .filtro-orden {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border: 2px solid #314814;
    border-radius: 5px;
    background-color: white;
    color: #314814;
    font-size: 1rem;
}

.carrito {
    display: block;
    background-color: #314814;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.carrito p {
    margin: 5px 0;
    font-weight: bold;
    padding: 0.5rem;
}
.carrito button {
    background-color: #fe6601;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px; 
}

.carrito button:hover {
    background-color: #f4ab34;
}

.elementos {
    display: flex;
    justify-content: space-around;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    background-color: white;
    border: 2px solid #314814;
    border-radius: 10px;
    padding: 15px;
    width: calc(33% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #314814;
}

.producto p {
    margin: 5px 0;
}

.producto p {
    font-size: 1.7rem;
}

.producto button {
    background-color: #fe6601;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-color: white;
}

.producto button:hover {
    background-color: #f4ab34;
}

footer {
    background-color: #314814;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 1rem;
}

ol {
    list-style: none;
}

footer a {
    color: #fe6601;
    text-decoration: none;
}

footer a:visited {
    color: #f4ab34;
}

.detalle-carrito {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #314814;
    border-radius: 10px;
    background-color: #f4ab34;
    color: #314814;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detalle-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #314814;
    padding: 10px 0;
}

.detalle-item:last-child {
    border-bottom: none;
}

.detalle-item p {
    margin: 0;
    font-size: 1.2rem;
    color: #314814;
}

.detalle-item button {
    background-color: #fe6601;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.detalle-item button:hover {
    background-color: #314814;
    color: #f4ab34;
}

#mostrar-carrito {
    margin-top: 10px;
}

#detalle-carrito p {
    text-align: center;
    font-size: 1.2rem;
    color: #314814;
}

.carrito, .formulario-checkout {
    display: block; 
    width: 95%; 
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
}

.carrito button {
    margin-top: 10px;
    margin-right: 10px;
}

.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}


.container h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}


.form-label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}


.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #6c63ff;
    box-shadow: 0px 0px 4px #b3aaff;
    outline: none;
}

.form-select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-select:focus {
    border-color: #6c63ff;
    box-shadow: 0px 0px 4px #b3aaff;
    outline: none;
}

.btn-primary {
    background-color: #6c63ff;
    border-color: #6c63ff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    width: 100%;
}

.btn-primary:hover {
    background-color: #584dff;
    border-color: #584dff;
    cursor: pointer;
}

.botonenviar:active {
    transform: scale(0.98);
}


.alert-warning {
    background-color: #fff3cd;
    color: #850404;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.elementos{
    flex-direction: column;
}

.alerta{
    color:#fe6601 !important;
}

.container{margin-bottom: 3rem;}

.btn-primary {

background-color: #fe6601 !important;
border-color: #fe6601 !important;}






